{% extends "index.html" %}
{% block outlet %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">email</th>
        <th scope="col">age</th>
        <th scope="col">address</th>
        <th scope="col">phone_no</th>
        <th scope="col">date</th>
        <th scope="col">edit</th>
        <th scope="col">delete</th>
      </tr>
    </thead>
    <tbody>
        {% for i in Data %}
      <tr>
        <th scope="row">{{i.id}}</th>
        <td>{{i.name}}</td>
        <td>{{i.email}}</td>
        <td>{{i.age}}</td>
        <td>{{i.address}}</td>
        <td>{{i.phone_no}}</td>
        <td>{{i.date}}</td>
        <td><img src="/media/{{i.image}}" alt="" width="200"></td>
        <td><a href="/update/{{i.id}}"><i class="fa-solid fa-pen-to-square"></i></a></td>
        <td><a href="/delete/{{i.id}}"><i class="fa-solid fa-trash"></i></a></td>
        
      </tr>
      {% endfor %}
      
      
    </tbody>
  </table>
  {% endblock outlet %}